body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* HEADER */

header {
    background-color: black;
    background-image: url('/img/hero.jpg');
    /* background-size: 100%; */
    background-repeat: no-repeat;
    background-size: 150vw;
    background-position: center;
    height: 100vh; /* Header Section Size */
    /* padding: 20px; */
}

header a {
    /* color: white;
    margin-top: 40px;
    text-decoration: none;
    text-transform: uppercase; */
}

header .logo a {
    background: url('/img/logo.png');
    background-size: 100px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 110px;
    position: relative;
    text-indent: -9999999px;
    /* top: -50px; */
    width: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 100px;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav ul li a {
    color: white;
    background: red;
    text-decoration: none;
    text-transform: uppercase;
}

h1 {
    position: relative;
    top: 200px;
    left: 100px;
}

/* FEATURES */

.features {
    background: white;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
}

.features figure {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}

.features figure img {
    width: 100%;
}

/* FOOTER */

footer {
    background: black;
    color: gray;
    padding: 40px;
    font-size: 14px;
    text-align: center;
}