body {
    margin: 0;
    font-family: montserrat, sans-serif;
}

ul {
    padding: 120px;
    margin: auto;
    width: 60%;
    list-style-type: none;
}

li {
    display: inline;
    margin: auto 70px;
    /*padding: 20px 40px;*/
    background-color: none;
}

li:hover {
    display: inline;
    margin: auto 70px;
    background-color: yellow;
}

a {
    text-decoration: none;
    color: black;
    padding: 20px 40px;
}

header {
    margin: 0;
    text-align: center;
    /*box-shadow: 5px 5px 20px lightgray;
    /*padding: 20px 0px;
    /*border: solid 1px black;*/
}