body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1,h2,h3,p {
    margin: 2;
}

h1 {
    font-size: 60px;
}

header {
    margin: 0;
    text-align: center;
}

.header-text div {
    display: inline-block;
    padding: 25px;
}

.header-text div a {
    text-decoration: none;
    color: black;
}

.landing-page-elements {
    width: 800px;
    text-align: left;
    padding-top: 40vh;
    padding-left: 150px;
    padding-bottom: 50px;
}

.landing-page-container {
    background-color: rgb(255, 0, 0);
    height: 100vh;
    width: 100vw;
}

.primary-button {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 15px 50px 15px 50px;
    border-radius: 150px;
    background: none;
    border-color: black;
    border-style: solid;
}

.primary-button a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.primary-button:hover {
    background-color: white;
    text-align: center;
    padding: 15px 50px 15px 50px;
    border-radius: 150px;
    border-style:none;
}