body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h2,h3,p {
    margin: 10px 0 20px 0px;
}

h1 {
    margin: 0;
    font-size: 100px;
}

header {
    margin: 0;
    text-align: center;
}

.header-text div {
    display: inline-block;
    padding: 25px;
}

.header-text div a {
    text-decoration: none;
    color: black;
}

.hero-elements {
    width: fit-content;
    position: relative;
    top: 400px;
    left: 250px;
    text-align: left;
}

.hero {
    background-color: rgb(255, 0, 0);
}

.primary-button {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 15px 50px 15px 50px;
    border-radius: 150px;
    background: none;
    border-color: black;
    border-style: solid;
}

.primary-button a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.primary-button:hover {
    background-color: white;
    text-align: center;
    padding: 15px 50px 15px 50px;
    border-radius: 150px;
    border-style:none;
}